{% extends "deetail/base.html" %}

{% block content %}
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
    <c-bill-card></c-bill-card>
{% endblock %}