{% extends "deetail/base.html" %}

{% block content %}
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
    <c-customer-card></c-customer-card>
{% endblock %}