{% extends "deetail/base.html" %}

{% block content %}
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
    <c-expense-card></c-expense-card>
{% endblock %}