{% extends "deetail/base.html" %}

{% block content %}
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
{% endblock %}