{% extends "deetail/base.html" %}

{% block content %}
    <c-search-input></c-search-input>
    
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>
    <c-property-card></c-property-card>

    <c-pagination-card></c-pagination-card>
{% endblock %}