{% extends "deetail/base.html" %}

{% block content %}
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
    <c-lead-card></c-lead-card>
{% endblock %}