{% extends "deetail/base.html" %}

{% block content %}
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
    <c-unit-type-card></c-unit-type-card>
{% endblock %}