<div class="card bg-base-100 shadow-md p-4 w-full mb-4">
    <div class="flex justify-center">
        <ul class="join">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">«</a>
                </li>
            {% else %}
                <li><button class="join-item btn btn-sm btn-disabled">«</button></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li><button class="join-item btn btn-sm btn-primary">{{ num }}</button></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li>
                        <a href="?page={{ num }}" class="join-item btn btn-sm">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">»</a>
                </li>
            {% else %}
                <li><button class="join-item btn btn-sm btn-disabled">»</button></li>
            {% endif %}
        </ul>
    </div>
</div>
