{% extends "deetail/base.html" %}

{% block content %}
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
    <c-ticket-card></c-ticket-card>
{% endblock %}